---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/atoms/H1.astro";
import DiabetesForm from "../components/organisms/FormSection.astro";
import Divider from "../components/atoms/Divider.astro";
---

<Layout title="Diabetes Predict">
  <main
    class="flex flex-col justify-center items-center min-h-screen bg-slate-200"
  >
    <section class="w-full max-w-4xl mt-[96px] p-4">
      <H1 title="Welcome to Diabetes Predict!" />
      <Divider />
      <DiabetesForm />
    </section>
  </main>
</Layout>
