---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import DiabetesForm from '../components/DiabetesForm.astro';
---

<Layout title="Welcome to ML Project!">
	<main class="flex flex-col justify-center items-center h-screen bg-slate-200">
		<Card title="Welcome to Machien Learning Project!"> </Card>
		<DiabetesForm />
	</main>
</Layout>


